<%- include('partials/head') %>
<body class="montserrat">
    <header>
        <nav>
            <a href="/home">Presupuesto App</a>
            <a href="/logout">Cerrar sesión</a>
        </nav>
    </header>
    <main>
        <section>
            <p class="tc">Error 404</p>
            <p>Ha ocurrido un error. Comunícate con el programador</p>
        </section>
    </main>
</body>
<%- include('partials/footer') %>