<%- include("partials/indexheader") %>
<body class="montserrat tc">
    <main>
        <h1>Presupuesto App</h1>
        <section>
            <p>Registra gastos o aumento de tu cuenta para tener control de tu dinero</p>
        </section>
        <section>
            <a href="/google" class="boton">Inicia sesión con google</a>
        </section>
    </main>
</body>
<%- include("partials/footer") %>
