<%- include("partials/head") %>
<body class="montserrat tc">
    <header>
        <h1>Presupuesto App</h1>
    </header>
    <main>
        <section>
            <p>Registra gastos o aumento de tu cuenta para tener control de tu dinero</p>
        </section>
        <section>
            <a href="/google" class="boton">Inicia sesión con google</a>
        </section>
    </main>
    <footer></footer>
</body>
<%- include("partials/footer") %>
